html, body,
ul, ol, li,
h1, h2, h3, h4, h5, h6, p, div {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Lucida Grande";
}

header {
  height: 65px;
  width: 100%;
  background-color: rgba(0, 0, 0, 1);
  position: fixed;
  top: 0;
  z-index: 10;
}

.logo {
  width: 124px;
  height: 65px;
  }

.header-left {
  float: left;
}


.header-right a {
  float: right;
  line-height: 65px;
  padding: 0 25px;
  color: white;
  display: inline-block;
  font-size: 18px;
}

.Contact, .Profil, .Beranda {
  background-color: rgba(0, 0, 0, 1);
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
}

.btn:hover {
  opacity: 1;
}

.container {
  width: 1170px;
  margin: 0 auto;
}

.top-wrapper {
  margin: 75px;
}

footer img {  
  width: 100px;  
}

footer p {    
  color: #b3aeb5;
  font-size: 14px;
}

footer {
  margin-top: 100px;
  padding-top: 30px;
}

span {
  font-size: 14px;
  font-weight: bold;
  border-color: black;  
}
